<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1><%= blog.title %></h1>
      <nav>
        <a href="/">Home</a>
      </nav>
    </header>

    <div class="container">
      <article class="card">
        <h3><%= blog.title %></h3>
        <p><%= blog.content %></p>
      </article>
      <a
        href="/"
        style="text-decoration: none; color: #4caf50; font-weight: bold"
        >&larr; Back to Home</a
      >
    </div>
  </body>
</html>
